/.gradle/
/.idea/caches/
/.idea/libraries/
/.idea/androidTestResultsUserPreferences.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
app/src/main/java/com/github/mydeardoctor/yandexmusicalarmclock/version/Version.kt
/build
/captures
/local.properties
local.properties
*.iml
.cxx
.DS_Store
.externalNativeBuild